ion-icon {
    font-size: 64px;
    display:inline-block;
    width:100%;
    font-weight:bold;
  }

ion-card {
    background-color:verde rgb(85, 180, 41);
    background-color:amarillo rgb(180, 178, 41);
    background-color:rojo rgb(180, 41, 41);
  }