<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="test">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Test FindRisc</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recomendaciones">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Recomendaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="seguimiento">
      <ion-icon name="eye-outline"></ion-icon>
      <ion-label>Seguimiento</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>