<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-label align='center'>
      <img  src="/assets/icon/Logo_utm.png" width="90px" height="90px">
    </ion-label>
  </ion-item>
  <br><br>

  <ion-item lines="none">
    <ion-text align="center">
      <h1 ><strong>Sistema de Registro para la Detección Temprana de Diabetes</strong></h1>
    </ion-text>
  </ion-item>

  <ion-item lines="none">
    <ion-label align="center">
      <ion-icon slot="icon-only" name="reader-outline" style="zoom:5.0;"></ion-icon>
    </ion-label>
  </ion-item>
  <br>
  <form #formulario="ngForm" (ngSubmit)="onLogin(formulario)">

    <ion-item>
      <ion-label><strong>Usuario: </strong></ion-label>
      <ion-input type="email" 
                  placeholder="Ingrese su correo" 
                  name="email" 
                  [(ngModel)]="usuario.email" 
                  required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><strong>Contraseña: </strong></ion-label>
      <ion-input type="password"
                  name="password" 
                  [(ngModel)]="usuario.password" 
                  required 
                  placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>
    <br><br>
    <ion-button (onclick)="onLogin()" [disabled]="formulario.invalid" type='submit' expand="full" shape="round" color="success">
      Iniciar sesión
    </ion-button>
  </form>
</ion-content>
